numpy>=1.21.6
jax>=0.3.25
jaxlib>=0.3.25
equinox>=0.9.2
einops>=0.6.0
optax>=0.1.4
tensorflow_probability>=0.19.0
tensorflow>=2.11.0
distrax>=0.1.2
wandb>=0.13.7
datasets>=2.7.1
Pillow>=9.1.1
scikit-learn>=1.0.2
matplotlib>=3.5.3
keras>=2.11.0
tqdm>=4.64.0
nbconvert>=6.4.5
ipykernel>=6.15.0
pytest>=7.1.2